<h1>User Sign Up</h1>

<%= render partial: 'layouts/error', locals: {object: @user} %>


<%= form_for(@user) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign Up" %>


<% end %>

<br /><%= link_to 'Register with Github', '/auth/github' %><br />

<br /><%= link_to 'Log in', login_path %>