<%= form_for wine do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :barrel_number %>
  <%= f.text_field :barrel %>
  <br>
  <%= f.label :barrel_location %>
  <%= f.select :barrel_location, options_for_select(["Main Warehouse", "Overflow", "Offsite"]) %>
  <br>
  <%= f.label :bottled? %>
  <%= f.select :bottled, options_for_select([false, true]) %>
  <br>
  <%= f.label :bottled_date %>
  <%= f.date_field :bottled_date %>
  <br>
  
    <%# a collection check box for varietals %>
  <%= f.label :varietal %>
  <%= f.collection_select :varietal_id, varietals, :id, :name %>
    <%# Add a form to add a new varietal %>

  <h5>Create Varietal</h5>
  <%= f.fields_for :varietal, wine.build_varietal do |varietal_fields| %>
    <div class="input-field">
      <%= varietal_fields.label :name %>
      <%= varietal_fields.text_field :name %>
    </div>

  <% end %>

    <%# Add a form to create vineyard %>

  

  <br>
  <%= f.submit button_name, class: "btn" %>
<% end %>

<script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>