
<h1>All Wines: </h1>

<h3>Search all for all Unbottled Wines by name</h3>
<%= form_tag(user_wines_path(current_user), method: "get") do %>
  <%= text_field_tag :term, nil,  id: "Search", placeholder: "enter search term" %>

  <%= submit_tag "Search"%>
<% end %>
<table>
  <thead>
    <tr>
      <th>Wine Name</th>
      <th>Varietal</th>
      <th>Barrel Location</th>
      <th>Barrel</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @wines.each do | wine| %>
      <tr>
        <td><%= wine.name %></td>
        <td><%= Varietal.find_by_id(wine.varietal_id).name %></td>
        <td><%= wine.barrel_location %></td>
        <td><%= wine.barrel %></td>
        <td>
          <%= link_to 'View', wine %> |
          <%= link_to 'Edit', edit_wine_path(wine) %> |
          <%= link_to 'Delete', wine, method: :delete, data: { confirm: 'For real?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
