<h1>Add Wine</h1>

<%= form_for(@wine) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :bottled_date %>
  <%= f.date_field :bottled_date %><br/>

  <%# Add a form to create vintage %>


  <%# Add a form to create varietals %>


  <%# Add a form to create vineyard %>

  

  <br>
  <%= f.submit "Create Wine" %>
<% end %>