<h3>Add Wine</h1>

<%= form_for(@wine) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :bottled %>
  <%= f.check_box :bottled %><br/>
  <%= f.label :bottled_date %>
  <%= f.date_field :bottled_date %><br/>

  <%# Add a form to add or create new varietals %>
 <%= f.fields_for :varietals do |varietal| %>
      <%= varietal.label :name %>
      <%= varietal.check_box :name %><br/>
 <% end %>
  <%# Add a form to create vineyard %>

  

  <br>
  <%= f.submit "Create Wine" %>
<% end %>