<h1>Add Wine</h1>

<%= form_for(@wine) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br/>
  <%= f.label :vintage %>
  <%= f.text_field :vintage %><br/>
  <%= f.label :bottled_date %>
  <%= f.date_field :bottled_date %><br/>

  <%# Add a form to create varietals %>

  <h5>Create Varietals</h5>
  <%= f.fields_for :varietal do |varietal_obj| %>
      <%= varietal_obj.label :name %>
      <%= varietal_obj.text_field :name %>
    </div>
  <% end %>

  <br>
  <%= f.submit "Create Wine" %>
<% end %>