<h3>Wine Info</h3>

<table>
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
   
      <tr>
        <td>Name: </td>
        <td><%= @wine.name %></td>
      </tr>

      <tr>
        <td>Varietal: </td>
        <td><%= @varietal.name %></td>
      </tr>

      <tr>
        <td>Barrel Number: </td>
        <td><%= @wine.barrel %></td>
      </tr> 

      <tr>
        <td>Barrel Location: </td>
        <td><%= @wine.barrel_location %></td>
      </tr>  

      <tr>
        <td>Bottled? </td>
        <td><%= @wine.bottled ? "Yes" : "no" %></td>
      </tr>

      <tr>
      <% if @wine.bottled_date %>
        <td>Bottling Date: </td>
        <td><%= @wine.bottled_date  %></td>
      <% else %>
      <% end %>
      </tr>
  </tbody>
</table>


<%# add link to edit %>
<%= link_to "Edit Wine", edit_wine_path(@wine) %> 
<br>
<%= link_to "Back to all your wines", user_wines_path(current_user) %> 
<br>
<br>
<%# add link to destroy %>
<%= link_to 'Delete', @wine, method: :delete, data: { confirm: 'For real?' } %>